

/* ==========================================================================
   HTML5BP DEFAULTS
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 14px;
    line-height: 1.5;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
    default tag styling h1, a, ul, li   
   ========================================================================== */

/* headings */
h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

h1 {
    font-size: 2em;
    margin: 0 0 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 0 0 1em 0;
}

h4 {
    font-size: 1em;
    margin: 0 0 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 0 0 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 0 0 2.33em 0;
}

ul.nostyle, ol.nostyle {
    list-style-type: none;
    padding: 0px;
}

/* lists */
ul {
    
}

ol {
    
}

ul li {
    
}

ol li {
    
}



/* forms */



.square-submit-btn {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    text-indent: -9999px;
    background: #fff;
    border: 1px solid blue;
}




/* ==========================================================================
   Custom styles for Layouts
   
   Try to follow http://twitter.github.io/recess/ standards: 
   position, top, right, bottom, left
   display, width, height, padding, margin, (box modeling)
   font, leading, color, text (typeography)
   background and border 
   CSS3 properties like border-radius and box-shadow
   and a handful of other purely visual properties
   
    position: relative;
    display: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    Contain Floats using 
    overflow:hidden


   ========================================================================== */

/* wrappers */
#outter-wrap {
    width: 100%;        
}

#inner-wrap {
    width: 100%;
}


/* layout divs - check out elsewhere for specific stylings */
#header {
    width: 1004px;
    padding: 10px 10px;
    margin: 10px auto 0 auto;
    overflow: hidden;
}

#content {
    width: 1004px; /* 1024px - l + r padding */
    min-height: 500px;	
    padding: 10px 10px;
    margin: 0 auto;
    overflow: hidden;
}


    .main {
        width: 684px;
        min-height: 500px;    
    }


    .aside {
        width: 300px;
        min-height: 500px;
    }

    .aside.lay-left {
        float: left;
    }

    .aside.lay-right {
        float: right;
    }


#footer {    
    width: 1004px;
    padding: 10px 10px;
    margin: 0px auto 10px auto; 
    overflow: hidden;  
}

/* header styling */




/* content styling */




/* main styling */





/* form styling */







/* ==========================================================================
   helper classes
   ========================================================================== */



/* borders */
.trbl-borders {
    border: 1px solid #000;
    border-style: solid solid solid solid;
}


.trl-borders {
    border: 1px solid #000;
    border-style: solid solid none;
}

.rbl-borders {
    border: 1px solid #000;
    border-style: none solid solid;
}


.lr-borders {
    border: 1px solid #000;
    border-style: none solid;
}

.lrb-borders {
    border: 1px solid #000;
    border-style: none solid solid;
}

.tb-borders {
    border: 1px solid #000;
    border-style: none solid;
}


/* margins */
.no-margin {
    margin: 0px !important;
}



/*  ------------------------------
    media object
    ------------------------------ */
.media { 
    margin:10px; 
}
.media, .bd {
    overflow:hidden; 
    _overflow:visible; 
    zoom:1;
}
.media, .bd-wrap {
    
}
.media .img {
    float:left;
    margin-right: 10px;
}
.media .img img{
    display:block;
}
.media .imgExt{
    float:right; 
    margin-left: 10px;
}


/*  ------------------------------
    columns
    ------------------------------ */
.c2 > .box {
    width: 240px;
    float: left;
    min-height: 100px;
    background: #f0f0f0;
    margin-right: 20px;
}
.c6 > .box {
    width: 150px;
    float: left;
    min-height: 100px;
    background: #f0f0f0;
    margin-right: 20px;
}

/*  ------------------------------
    width 
    ------------------------------ */
.w100 {
    width: 100%;
}


/*  ------------------------------
    float classes
    ------------------------------ */
.set-left, .float-left{
    float: left;
}

.set-left img, .float-left img{
    float: left;
    margin-right: 10px;
}

.set-right, .float-right {
    float: right;
}


.set-right img, .float-right img {
    margin-left: 10px;
}

.set-center {
    float: none;
    margin: 0 auto;    
}

/*  ------------------------------
    w1024px
    ------------------------------ */
.w1024 {
    width: 1024px;
}



/*  ------------------------------
    debug helper classes
    ------------------------------ */
.bg-grey {
    background: #f0f0f0;
}









/*  ------------------------------
    htmlbp helpers
    ------------------------------ */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
